.pokemon-card {
  position: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
  .img-container {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    img {
      margin-top: 10px;
      max-width: 90%;
      max-height: 100%;
    }
  }
  .info-container{
      overflow: hidden;
      .id{
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: 13px;
        padding: 5px 10px;
      }
      .name{
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  }
  &:hover{
      transform: scale(1.1);
  }
}
