@for $value from 0 through 100{
    &.w-#{$value}{
        width: $value * 1%;
    }
}

@for $value from 100 through 200{
    &.w-#{$value}{  
        background-color: #df55f1 !important;
        width: ($value/10) * 1%;
    }
}