.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.8);
  transition: all 0.5s;
  .modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 10px;
    width: 40%;
    .modal-content {
        border-radius: inherit;
      .modal-header {
        position: relative;
        padding: 1rem;
        border-bottom: 1px solid #d2d6da;
        text-align: left;
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .pokemon-name {
          text-transform: capitalize;
          margin: 0;
        }
        .close-modal {
          position: absolute;
          top: 50%;
          right: 10px;
          padding: 5px 7px;
          transform: translateY(-50%);
          border:none;
          background-color: transparent;
          width: 40px;
          height: 40px;
          opacity: 0.5;
          cursor: pointer;
          img{
              height: 100%;
              width: 100%;
          }
          &:hover{
              opacity: 0.75;
          }
        }
      }
      .modal-body {
        padding: 1rem;
        display: flex;
        border-radius: inherit;
        .img-container {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #d2d6da;
          img {
            max-width: 80%;
          }
        }
        .stats-container {
          width: 65%;
          .types {
            padding-left: 40px;
            text-align: left;
            .type {
              display: unset;
              border-radius: 10px;
              font-size: 14px;
              padding: 5px 10px;
              text-transform: uppercase;
              font-weight: 600;
              margin-right: 10px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            }
          }
          .fight-list {
            list-style-type: none;
            text-align: left;
            font-weight: 700;
            .fight-element {
              display: flex;
              padding: 5px 0;
              white-space: nowrap;
              justify-content: space-between;
              .progress-bar {
                height: 20px;
                width: 60%;
                background: lightgrey;
                margin-left: 10px;
                .progress-bar-data {
                  background: #55b2f1;
                  height: 100%;
                  text-align: center;
                  line-height: 100%;
                }
              }
            }
          }
          .phys-stats {
            display: flex;
            padding-left: 40px;
            p {
              width: 25%;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
