.App{
  text-align: center;
  form{
    position: absolute;
    top:30px;
    right:10%;
    input{
      background: #2381C1;
      text-transform: capitalize;
      padding:10px;
      border-radius: 20px;
      border: 2px solid #063C61;
      color: #f1f1f1;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      &::placeholder{
        color: #f1f1f1;
      }
      &:focus-visible{
        outline: none;
      }
    }
  }
  .pokemon-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
}