.normal{
    background-color: #F5F5F5;
}

.fire{
    background-color: #FDDFDF;
}

.water{
    background-color: #DEF3FD;
}

.electric{
    background-color: #FCF7DE;
}

.grass{
    background-color: #DEFDE0;
}

.ice{
    background-color: #96D9D6;
}

.fighting{
    background-color: #E6E0D4;
}

.poison{
    background-color: #98d7a5;
}

.ground{
    background-color: #f4e7da;
}

.flying{
    background-color: #F5F5F5;
}

.psychic{
    background-color: #eaeda1;
}

.bug{
    background-color: #f8d5a3;
}

.rock{
    background-color: #d5d5d4;
}

.ghost{
    background-color: #735797;
}

.dragon{
    background-color: #97b3e6;
}

.dark{
    background-color: #705746;
}

.steel{
    background-color: #B7B7CE;
}

.fairy{
    background-color: #fceaff;
}
